@charset "utf-8";

p a[href^="http"] {
    background: url('../../images/icons-external-links/external-link-purple.png') no-repeat right center;
    padding-right: 20px !important;
}

.navbar a[href^="http"] {
    background: url('../../images/icons-external-links/external-link-white.png') no-repeat right center;
    padding-right: 20px !important;
}

.logo {
    width: 500px;
}

@media (max-width: 500px) {
    .logo {
        width: 100%;
    }
}

.headline {
    color: #000;
}

.countdown {
    font-size: 38px;
}

.countdown .countdown-number {
    background: #000;
    color: #fff;
    padding: 0 10px;
    font-family: Lato, sans-serif;
}

.carousel {
    max-height: 740px;
    overflow: hidden;
    padding: 0;
}

.intro {
    padding-top: 0;
}

#why img {
    width: 180px;
}

footer a:hover {
    text-decoration: none;
}
