@charset "utf-8";

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --master-color: #a64ac9;
    --slave-color: #17e9e0;
    --mix-color: #5e99d3;
}

.master-color {
    color: var(--master-color);
}

.slave-color {
    color: var(--slave-color);
}

.mix-color {
    color: var(--mix-color);
}

body {
    font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: var(--mix-color);
}

a {
    color: var(--master-color);
}

a:hover {
    color: var(--slave-color);
    background: #000;
}

#page {
    margin: 0 auto;
    width: 960px;
}

/* -------------------------------------------------------------------------- */

header {
    text-align: center;
}

header .logo {
    width: 300px;
}

header .headline {
    font-weight: 200;
    margin: 0;
    padding: 0 0 20px 0;
    color: #000;
}

/* -------------------------------------------------------------------------- */

.countdown {
    font-size: 40px;
    padding: 40px 0;
    border-top: 1px solid #9999;
    border-bottom: 1px solid #9999;
}

.countdown .countdown-number {
    background: #000;
    color: #fff;
    padding: 0 10px;
    font-family: Lato, sans-serif;
}

/* -------------------------------------------------------------------------- */

.slideshow-section {
    height: 640px;
    overflow: hidden;
}

/* -------------------------------------------------------------------------- */

main {
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

main h2 {
    font-size: 50px;
}

main p {
    font-size: 20px;
}

main img {
    vertical-align: middle;
}

main .date-section p,
main .additional-section p {
    padding: 40px 0 0 0;
}

main .date-section p time span,
main .additional-section p span {
    background: #de5b49;
    color: #fff;
    font-weight: 800;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
}

main .additional-section p span {
    background: #906090;
}

/* -------------------------------------------------------------------------- */

.newsletter-section {
    border-top: 1px solid #9999;
    padding: 20px 0;
    clear: both;
}

.newsletter-section-content {
    width: 500px;
    margin: 0 auto;
}

@media all and (max-width: 500px) {
    .newsletter-section-content {
        width: inherit;
    }
}

/* -------------------------------------------------------------------------- */

.social-section {
    border-top: 1px solid #9999;
    padding: 30px 0;
    font-size: 30px;
    text-align: center;
}

.social-section a {
    color: #999;
    text-decoration: none;
    display: inline-block;
}

.social-section a:hover {
    background: #fff;
}

/* -------------------------------------------------------------------------- */

footer {
    border-top: 1px solid #9999;
    text-align: center;
    padding: 20px 0;
}
